@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

body {
    padding: 30px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    /* background: #f1f1f1; */
    /* color: #0f141e; */

}

h4 {
    font-weight: 700;
}

p {
    line-height: 10px;
}

h1 {
    padding: 0 5px;
    padding-top: 10px;
    /* background-color: rgb(239, 248, 255); */
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    
}

img {
    border-radius: 5px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    }

button {
    margin-top: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-family: inherit;
    color: #0f141e;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
    color: rgb(255, 255, 255);
    background: rgb(0, 56, 161);
    font-family: inherit;
}

.btn:active {
    color: rgb(0, 0, 0);
}

a {
    font-weight: 800;
    margin-bottom: 20px;
}

.container2 {
    margin-bottom: 10px;
    /* background: rgb(255, 240, 207); */
    padding: 20px;
    border-radius: 10px;
}

/* .form {
    padding: 20px;
    background: rgb(40, 122, 199);
}

div {
    color: rgb(84, 112, 136);
} */

thead {
    font-size: larger;
    
    /* background: rgb(255, 234, 209); */
}

.info {
   margin-bottom: 20px;
   display: flex;
}

.info-text h1 {
    margin-left: 12px;
    /* margin-top: 50px; */
    padding-top: 20px;
    
    
    
}

.info-text {
    background: rgb(255, 249, 196);
    border-radius: 10px;
    
    
    
}

/* .info-text:hover {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
} */

.info-text p {
    font-style: bold;
    color: #36383b;
    margin-left: 20px;
    padding-bottom: 20px;
    line-height: 20px;

}

@media (max-width: 680px) {
    .info {
        display: block;
        text-align: center;
    }
}

.card {
    background: rgb(255, 228, 137);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    
}

.card-1 {
    background: rgb(255, 198, 152);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;

}

th {
    font-style: bold;
    padding: 0 10px;
    
    }

    .card2 {
        background: rgb(240, 240, 240);
        padding: 15px;
        border-radius: 10px;
        
    }

    .container {
       
        /* margin: 1px 200px; */
        max-width: 1000px;
        margin: auto;

    }

 a {
     color: #0f141e;
     text-decoration: none;
 }

 a:hover {
     text-decoration: underline;
 }

 a:active {
     color: blue;
 }

 /* a:visited {
     color: grey;
 } */

 .list {
     padding: 0 20px;
 }

 .list li {
     color: #2f343d;
     margin-bottom: 10px;
 }

 .table {
     width: 100%;
 }

 .table td {
     padding-bottom: 10px;
 }

 .table td:nth-child(2) {
     color: rgb(0, 78, 129);
 }

 .table td:nth-child(3) {
    color: rgb(0, 78, 129);
}

.form h2 {
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
    /* width: 46%; */
}

.form-row .form-group:last-child {
    margin-right: 0;
}

@media (max-width: 680px) {
    .form-row {
        display: block;
    }

    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.form-group label {
    display: block;
    font-size: 14px;
    color: rgb(126, 111, 111);
}

.form-group input, textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}